@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;500;600;700;800&display=swap');
html, body {font-family: 'Barlow Condensed', sans-serif;}

.header-wrapper {width: 100%; height: 100vh; position: relative;}
.header-wrapper .t-wrap {width: 100%; height: 50px; background-color: #111; position: absolute; display: flex; justify-content: space-between; align-items: center; color: #fff;}
.header-wrapper .t-wrap .t-lt {display: flex; border: 1px solid yellow; margin-left: 20px;}
.header-wrapper .t-wrap .t-lt .top-lt-sns {margin: 0 20px;}
.header-wrapper .t-wrap .t-lt .top-lt-sns i {margin: 5px; font-size: 10px;}
.header-wrapper .t-wrap .t-lt h2 {font-size: 15px;}
.header-wrapper .t-wrap .top-lt-sns {display: flex;}
.header-wrapper .t-wrap .t-rt {display: flex; justify-content: flex-end; border: 1px solid green; margin-right: 20px;}
.header-wrapper .t-wrap .t-rt div {padding: 0 10px; font-size: 12px;}
.header-wrapper .t-wrap .t-rt div i {margin: 0 5px;}

.header-wrapper .top-wrap {width: 100%; height: 100px; position: absolute; top: 50px; display: flex;}
.header-wrapper .top-wrap .top-lt {display: flex; padding: 0 40px; border: 1px solid red; width: 100%; justify-content: space-between; align-items: center; }
.header-wrapper .top-wrap .top-lt img {width: 40px; height: 40px;}
.header-wrapper .top-wrap .top-lt .navi-wrap {display: flex; color: #111; align-items: center; font-family: 'Barlow Condensed', sans-serif;}
.header-wrapper .top-wrap .top-lt .navi-wrap li {margin: 0 15px; font-size: 16px; font-weight: 600;}
.header-wrapper .top-wrap .top-lt .navi-wrap .active {border-bottom: 4px solid #111;}

.header-wrapper .banner-wrap {width: 100%; height: 100%; position: relative; top: 150px;}
.header-wrapper .banner-wrap .slide {position: relative;}
.header-wrapper .banner-wrap .slide h1 {position: absolute; width: 100%; height: 100%; top: 0; left: 0; font-size: 10vw; display: flex; justify-content: center; align-items: center; color: #fff; background-color: #111;}
.header-wrapper .slide:nth-child(2) {position: absolute; top: 0; left: 0;}
.header-wrapper .btn-prev, .header-wrapper .btn-next {font-size: 30px; color: #111; position: absolute; z-index: 9; transition: all 0.5s; padding: 0 20px; font-weight: bold;}
.header-wrapper .btn-next {right: 10px;}
.header-wrapper .btn-prev:hover {transform: translateX(-10px);}
.header-wrapper .btn-next:hover {transform: translateX(10px);}


